# -------------------------
# WordPress Core
# -------------------------
/wp-admin/
/wp-includes/
/readme.html
/license.txt
/xmlrpc.php
/wp-*.php
/index.php

# -------------------------
# Configuration
# -------------------------
wp-config.php
.env

# -------------------------
# Ignore everything in wp-content
# -------------------------
/wp-content/*

# Unignore themes folder
!wp-content/themes/

# Track only hello-elementor theme
!wp-content/themes/hello-elementor/

# Ignore other default themes
/wp-content/themes/twenty*/

# Ignore plugins
/wp-content/plugins/

# Ignore uploads
/wp-content/uploads/

# -------------------------
# Ignore htaccess
# -------------------------
.htaccess

# -------------------------
# Cache / Logs
# -------------------------
*.log
*.zip
*.sql
*.gz

# -------------------------
# OS / IDE files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Node / Build
# -------------------------
node_modules/
dist/
build/